
.homepage{
    background-image: url(../images/side-view-cook-making-delicious-pasta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home {
    display: flex;
    justify-content: end;
}

.tagline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
}

.tagline p {
    padding-right: 40px;
    text-align: start;
    font-size: 5rem;
    color: #EE7214;
    font-family: 'Style Script', 'Roboto Mono', monospace, sans-serif;
    
}